header{
    @include d_f(flex, center, 0);
    height: 64px;
    padding: 8px 64px;
    background: map-get($bg_color, secondary);
    z-index: 9;

    @include mw_lg{
        padding: 8px 32px;
    }

    // head固定
    &.--fix{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 3px 3px 15px map-get($bg_color, black_alpha);
    }

    h1{
        @extend %hand;
        height: 100%;
        width: 150px;
        background: url(../images/img_logo.png) no-repeat center / contain;
        color: transparent;

        // 手指效果
        @include hoverHandler {
            filter: brightness(1.2);
        }
    }

    .menu{
        @include d_f(flex, 0, 0);
        margin-left: auto;
        color: map-get($txt_color, white);
        
        @include mw_md{
            position: fixed;
            top: 64px;
            left: 0;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: map-get($bg_color, black_alpha);
            font-size: 20px;
            z-index: 3;

            display: none;

            @at-root header.--open .menu{
                display: block;
            }
        }

        >li{
            @extend %hand;
            margin-left: 32px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;

            @include mw_md{
                @include border(1px 0 0, map-get($border_color, primary));
                padding: 16px 0;
                text-align: center;
                margin-left: 0;
            }

            // 多內層按鈕
            &.--more{
                position: relative;

                &::after {
                    content: '+';            
                    margin-left: 8px;
                }
            }

            &:last-child,
            &.--on,
            &.--active{
                color: map-get($txt_color, blue);
            }
            // 手指效果
            @include hoverHandler {
                color: map-get($txt_color, blue);
            }
        }

        // 內層選單
        ul{
            @include pos_a(tl, calc(100% + 21px), 0);
            @include d_f(flex, center, 0);
            @include border(1px 0 0, map-get($border_color, primary));
            flex-direction: column;
            padding: 8px 16px;
            background: map-get($bg_color, secondary);
            box-shadow: 5px 5px 10px map-get($bg_color, black_alpha);
            color: map-get($txt_color, white);
            font-size: 14px;
            text-align: center;

            @include mw_md{
                position: static;
                border: none;
                background: transparent;
                box-shadow: none;
                font-size: 20px;
            }

            li{
                white-space: nowrap;
                padding: 8px 0;

                &.--on {
                    @extend %no_hand;
                    position: relative;
                    color: map-get($txt_color, blue);

                    &::before{
                        @include pos_a(trb, 0, calc(100% + 4px), 0);
                        content: '';
                        width: 5px;
                        height: 5px;
                        background: map-get($txt_color, blue);
                        border-radius: 5px;
                        margin: auto;
                    }
                }

                // 手指效果
                @include hoverHandler {
                    color: map-get($txt_color, blue);
                }
            }
        }
    }

    .ham_btn{
        @extend %hand;
        @include d_f(flex, 0, center);
        display: none;

        flex-direction: column;
        width: 32px;
        height: 64px;
        margin-left: auto;

        @include mw_md{
            display: flex;
        }

        span{
            @extend %hand;
            @extend %transition;
            display: block;
            width: 100%;
            height: 3px;
            background: map-get($bg_color, lightgray);
            margin-bottom: 6px;

            @at-root .--open .ham_btn span:nth-child(1) {
                transform: translateY(12px) rotate(45deg);
            }
            @at-root .--open .ham_btn span:nth-child(2) {
                opacity: 0;
            }
            @at-root .--open .ham_btn span:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}



main{
    min-height: 100vh;
    @at-root header.--fix+main{
        padding-top: 64px;
    }
}



// footer
.mailBox{
    padding: 56px 16px;
    background: url(../images/img_mail.jpg) no-repeat center / cover;    
    
    @include mw_lg{
        padding: 32px 16px;
    }

    // .mailBox__label
    &__label{
        @include d_f(flex, 0 ,center);
        max-width: 480px;
        height: 45px;
        margin: auto;

        &::before{
            content: '';
            flex: none;
            width: 150px;
            height: 100%;
            background: url(../images/img_logo.png) no-repeat left center / contain;
            filter: grayscale(1) brightness(3);
            margin-right: 16px;

            @include mw_xs{
                content: none;
            }
        }

        input{
            flex: 1 1 100%;
            padding: 0 16px;
            background: map-get($bg_color, white);
        }
    }


    // mailBox__label_btn
    &__label_btn {
        position: relative;
        flex: none;
        width: 64px;
        background: map-get($bg_color, blue);
        color: map-get($txt_color, white);

        &::before {
            @include triangle(10px, map-get($bg_color, white), right);
            @include pos_a(trbl, 0);
            content: '';
            margin: auto;
        }

        // 手指效果
        @include hoverHandler {
            filter: brightness(1.1);
        }
    }
}

.webMap{
    @include d_f(flex, 0, center);
    padding: 56px 32px;

    @include mw_lg {
        padding: 16px 32px;
        flex-direction: column;
    }

    ul {
        @include d_f(flex, flex-start, 0);//為了讓動畫不要超過
        flex-direction: column;
        position: relative;
        max-width: 400px;
        padding: 0 56px 0 120px;
        color: map-get($txt_color, secondary);

        @include mw_lg {
            padding: 0;
            max-width: none;
            align-items: center;
        }

        &::before{
            @include pos_a(tl,0 , 56px);
            content: '';
            width: 40px;
            height: 40px;

            @include mw_lg{
                position: static;
                margin-bottom: 16px;
            }
        }

        &+ul{
            border-left: 1px solid map-get($bg_color, lightgray);

            @include mw_lg{
                border-left: 0;
                margin-top: 32px;
            }
        }
    }

    li {
        @extend %hand;
        position: relative;
        line-height: 24px;

        @include mw_lg{
            line-height: 20px;
        }

        &+li {
            margin-bottom: 8px;
        }

        &:first-child {
            @extend %no_hand;
            color: map-get($txt_color, primary);
            font-size: 24px;
            margin-bottom: 16px;

            @include mw_lg{
                font-size: 18px;
                margin-bottom: 8px;
            }
        }

        &:not(:first-child)::after {
            @extend %transition;
            @include pos_a(bl, 0);
            content: '';
            width: 0;
            height: 1px;
            background: map-get($bg_color, lightgray);
        }

        // 手指效果
        @include hoverHandler {
            &::after {
                width: 100%;
            }

            filter: brightness(2);
        }
    }

    i {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }

    // .webMap__links
    &__links::before{
        background: url(../images/icon_links.svg) no-repeat center / contain;
    }

    // .webMap__services
    &__services::before{
        background: url(../images/icon_services.svg) no-repeat center / contain;
    }

    // .webMap__address
    &__address{
        li:nth-child(2)::after{
            content: none !important;
        }
        &::before {
            background: url(../images/icon_address.svg) no-repeat center / contain;
        }
    }
}

.copyright{
    padding: 20px 32px;
    background: map-get($bg_color, secondary);
    font-size: 14px;
    text-align: center;
}