// 輪播圖
.slider{
    @extend %transition;
    position: relative;
    overflow: hidden;

    @include mw_xs {
        padding-bottom: 70%;
    }

    // .slider__img
    &__img{
        @include d_f(flex, 0, 0);
        margin: auto;

        img{
            object-position: 25%;
        }

        @include mw_xs{
            @include pos_a(tbl, 0);
        }
    }

    // .slider__info
    &__info{
        @include pos_a(tbl, 0, 0, 56px);
        @include d_f(flex, 0, center);
        flex-direction: column;
        color: map-get($txt_color, secondary);
        margin: auto;

        @include mw_lg{
            left: 32px;
        }        

        h2{
            @extend %txtshadow;
            letter-spacing: 1.5px;
            font-size: 40px;
            margin-bottom: 8px;

            @include mw_lg {
                font-size: 24px;
            }

            code{
                display: block;
                color: map-get($txt_color, white);
                font-size: 96px;
                font-weight: bold;

                @include mw_lg{
                    font-size: 64px;
                }

                @include mw_xs {
                    font-size: 40px;
                }
            }
        }

        p{
            @extend %txtshadow;
            line-height: 24px;
            margin-bottom: 16px;

            @include mw_lg {
                font-size: 14px;
            }

            @include mw_xs{
                display: none;
            }
        }

        .btnG{
            @include d_f(flex, 0, space-between);
            max-width: calc(100% / 3 * 2);

            @include mw_xs{
                max-width: none;
            }
        }

        // .slider__info_btn
        &_btn{
            width: 150px;
            height: 40px;
            background: map-get($bg_color, blue);
            border: 1px solid map-get($bg_color, blue);
            border-radius: 40px;
            color: map-get($txt_color, white);
            text-transform: uppercase;


            @include mw_lg {
                width: 120px;
                font-size: 14px;
            }

            // 手指效果
            @include hoverHandler {
                background: transparent;
                border-color: map-get($bg_color, white);
            }

            &.--more{
                background: transparent;
                border-color: map-get($bg_color, white);

                // 手指效果
                @include hoverHandler {
                    background: map-get($bg_color, blue);
                    border: 1px solid map-get($bg_color, blue);
                }
            }
        }
    }

        // banner__title
}



// 服務
.services{
    @extend %transition;
    position: relative;
    padding: 64px 0 32px;
    background: map-get($bg_color, secondary);
    overflow: hidden;

    @include mw_lg{
        padding: 32px 0 24px;
    }

    // .services__title
    &__title{
        @extend %title;
        margin-bottom: 64px;

        @include mw_xs{
            margin-bottom: 32px;
        }
    }

    .scrollSlider_area{
        width: 100%;
        overflow: hidden;
    }

    // .services__item
    &__item{
        @extend %transition;
        @include d_f(flex, 0, space-between);
        width: calc(114% + 64px);

        &::before{
            content: '';
            flex: none;
            width: 64px;
            height: 0;

            @include mw_lg{
                width: 32px;
            }
        }

        // .services__item__txt
        &__txt{
            @extend %hand;
            width: calc(100% / 3.5 - 64px);
            padding: 16px 24px;
            background: map-get($bg_color, linear);
            border-radius: 5px;

            @include mw_md{
                min-width: calc(100% / 3 - 64px);
            }

            @include mw_xs{
                min-width: calc(100% / 2 - 64px);
            }
            
            &+li{
                margin-left: 64px;

                @include mw_xs{
                    margin-left: 32px;
                }
                
            }

            img{
                @extend %transition;
                display: block;
                width: 150px;
                margin: auto auto 24px;

                @include mw_lg{
                    width: 100px;
                }
                @include mw_xs{
                    margin-bottom: 16px;
                }
            }

            h3{
                color: map-get($txt_color, white);
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 24px;
                text-align: center;
                
                @include mw_lg{
                    font-size: 20px;
                }
                
                @include mw_xs{
                    margin-bottom: 16px;
                }
            }

            p{
                line-height: 20px;
                font-size: 14px;

                @include mw_lg{
                    @include omission(3, 60px);
                }
            }

            // 手指效果
            @include hoverHandler {
                img{
                    transform: scale(1.2);
                }
            }
        }
    }

    // .services__dot
    &__dot{
        text-align: center;

        li{
            @extend %hand;
            display: inline-block;
            width: 12px;
            height: 12px;
            background: map-get($bg_color, gray);
            border-radius: 12px;
            margin: 32px 8px 0;

            &.--on{
                @extend %no_hand;
                background: map-get($bg_color, blue);
                transform: scale(1.3);
            }

            // 手指效果
            @include hoverHandler {
                background: map-get($bg_color, blue);
                transform: scale(1.3);
            }
        }
    }    
}



// 關於我們
.about{
    padding: 64px 128px 32px;

    @include mw_lg{
        padding: 32px 32px 16px;
    }

    // .about__txt
    &__txt{
        text-align: center;
        margin: auto;

        h3{
            @extend %title;
            color: map-get($txt_color, primary);
            margin-bottom: 32px;
        }
        p{
            line-height: 24px;
            margin-bottom: 32px;
            text-align: left;

            @include mw_lg{
                @include omission(3, 100px);
                font-size: 14px;
                margin-bottom: 16px;
            }
        }

        &_btn{
            width: 150px;
            height: 40px;
            background: map-get($bg_color, blue);
            border: 1px solid map-get($bg_color, blue);
            border-radius: 40px;
            color: map-get($txt_color, white);
            text-transform: uppercase;
            margin-bottom: 64px;

            @include mw_xs{
                margin-bottom: 32px;
            }
        
            // 手指效果
            @include hoverHandler {
                background: transparent;
                border-color: map-get($bg_color, white);
            }
        }
    }

    // .about__imgBox
    &__imgBox{
        position: relative;
        max-width: 40%;
        padding-bottom: 20%;
        background: url(../images/img_about_main.png) no-repeat center / contain;
        margin: auto;

        @include mw_xs{
            max-width: 50%;
            padding-bottom: 30%;
        }

        img{
            box-shadow: 3px 3px 15px map-get($bg_color, black_alpha);
        }
        img:nth-child(1){
            @include pos_a(tl, -10%, 3%);
            width: 30%;
        }
        img:nth-child(2){            
            @include pos_a(tl, 20%, -13%);
            width: 24%;
        }
        img:nth-child(3){
            @include pos_a(bl, -5%, 11%);
            width: 20%;
        }
        img:nth-child(4){
            @include pos_a(br, 27%, 5%);
            width: 23%;
        }
    }

}



// 產品
.product{
    @include d_f(flex, center, space-between);
    padding: 64px 64px 32px;
    background: map-get($bg_color, lightgray);
    flex-wrap: wrap;
    overflow: hidden;

    @include mw_lg{
        padding: 32px 32px 16px;
    }

    // .product__img
    &__img{
        position: relative;
        width: calc(60% - 64px);
        height: 20vw;
        background: url(../images/img_product_main.png) no-repeat right bottom / contain;

        @include mw_xs{
            width: 100%;
            height: 50vw;
            margin-bottom: 16px;
        }

        span{
            display: block;
        }
        .pad{
            @include pos_a(bl, 0, 15%);
            width: 35%;

            @include mw_xs{
                left: 0;
            }
        }

        .ph {
            @include pos_a(rbl, 0);
            width: 10%;
            margin: auto;

            @include mw_xs {
                left: auto;
                right: 5%;
            }
        }
    }

    // .product__txt
    &__txt{
        width: 40%;
        max-width: 500px;

        @include mw_xs{
            width: 100%;
        }

        h3 {
            @extend %title;
            padding-bottom: 16px;
            border-bottom: 1px solid map-get($bg_color, darkgray);
            color: map-get($txt_color, darkgray);
            font-weight: bold;
            margin-bottom: 32px;

            @include mw_lg{
                margin-bottom: 16px;
            }
        }

        ul{
            color: map-get($txt_color, gray);
        }

        li{
            line-height: 24px;

            @include mw_lg {
                @include omission(3, 80px);
                font-size: 12px;
            }

            code{
                display: block;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 8px;

                @include mw_lg{
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            p{
                color: map-get($txt_color, secondary);
            }
        }

        &_btn{
            display: block;
            padding: 8px 16px;
            background: map-get($bg_color, blue);
            border: 1px solid map-get($bg_color, blue);
            border-radius: 40px;
            color: map-get($txt_color, white);
            font-size: 12px;
            text-transform: uppercase;
            margin-left: auto;

            @include mw_lg{
                display: none;
            }
        
            // 手指效果
            @include hoverHandler {
                background: transparent;
                border-color: map-get($bg_color, darkgray);
                color: map-get($txt_color, darkgray);
            }
        }
    }    
}



// 客戶回饋
.client{
    position: relative;
    padding: 64px 16px 32px;
    background: url(../images/img_client.jpg) no-repeat center / cover;

    @include mw_lg{
        padding: 32px 16px 16px;
    }

    // .client__title
    &__title{
        @extend %title;
        margin-bottom: 32px;
    }

    // .client__control
    &__control{
        @include pos_a(trbl, 0);
        @include d_f(flex, center, space-between);
        width: 60%;
        margin: auto;
        pointer-events: none;

        @include mw_xs{
            width: 100%;
        }

        // .client__control_btn
        &_btn{
            @extend %hand;
            width: 50px;
            height: 50px;
            background: url(../images/icon_arrowL.svg) no-repeat center / contain;
            pointer-events: auto;

            &.--right{
                background-image: url(../images/icon_arrowR.svg);
            }

            // 手指效果
            @include hoverHandler {
                filter: brightness(2);
            }
        }
    }

    .scrollSlider_area{
        width: 40%;
        overflow: hidden;
        margin: auto;


        @include mw_xs {
            width: calc(100% - 32px);
        }
    }

    // .client__msgBox
    &__msgBox{
        @extend %transition;
        @include d_f(flex, 0, 0);
        width: 300%;

        // .client__msgBox__item
        &__item{
            flex: none;
            width: calc(100% / 3);
            text-align: center;
            margin-bottom: 32px;

            .txt{
                line-height: 24px;
                color: map-get($txt_color, secondary);
                margin-bottom: 48px;

                @include mw_lg{
                    @include omission(4, 100px);
                }
            }

            .name{
                position: relative;
                color: map-get($txt_color, white);
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;

                &::before{
                    @include pos_a(rbl, 0, calc(100% + 16px), 0);
                    content: '';
                    width: 60%;
                    height: 1px;
                    background: map-get($bg_color, white);
                    margin: auto;
                }
            }

            .grade{
                color: map-get($txt_color, secondary);
                font-size: 12px;
            }
        }
    }

    // .client__total
    &__total{
        width: 60px;
        height: 40px;
        line-height: 35px;
        background: map-get($bg_color, lightgray);
        border-radius: 40px;
        color: map-get($txt_color, secondary);
        font-size: 20px;
        margin: auto;
        text-align: center;
    }
}



// 支援
.supplier{
    padding: 64px 64px 24px;
    background: #999;
    text-align: center;
    background: url(../images/img_supplier.jpg) no-repeat center / cover;

    @include mw_lg{
        padding: 16px 32px;
    }

    // .supplier__title
    &__title{
        @extend %title;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 32px;
    }
    
    // .supplier__txt
    &__txt{
        max-width: 70%;
        line-height: 32px;
        font-size: 24px;
        margin: auto auto 32px;

        @include mw_lg{
            @include omission(4, 100px);
            line-height: 24px;
            font-size: 16px;
        }
    }
    
    // .supplier__logos
    &__logos{
        @include d_f(flex, center, center);
        margin-bottom: 32px;

        li{
            max-width: 8%;
            margin: 0 16px;

            @include mw_lg{
                max-width: 20%;
            }

            @include mw_xs{
                margin: 0;
            }
        }
    }


    // .supplier__copyright
    &__copyright {
        @include mw_lg{
            font-size: 12px;
        }
    }
    
}




// 文字內容
.content{
    min-height: 60vh;
    padding: 32px 64px;
    background: map-get($bg_color, white);
    color: map-get($txt_color, secondary);
    font-size: 16px;

    @include mw_lg{
        padding: 32px;
    }
    
    &.--half{
        @include d_f(flex, 0, space-between);
    }

    // .content__title
    &__title{
        color: map-get($txt_color, darkgray);
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 32px;
    }

    // .content__img
    &__img{
        margin-bottom: 32px;
    }

    // .content__aside
    &__aside{
        width: 25%;
        padding-left: 50px;

        @include mw_sm{
            display: none;
        }

        // .content__aside__menu
        &__menu{
            position: relative;
            margin-bottom: 64px;

            &::before {
                @include pos_a(tr, 0, calc(100% + 16px));
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background: url(../images/icon_list.svg) no-repeat;
                filter: brightness(1.5);
            }
            li{
                line-height: 24px;
                margin-bottom: 16px;

                p{
                    color: map-get($txt_color, darkgray);
                    font-size: 12px;
                }
            }
            li:first-child{
                color: map-get($txt_color, darkgray);
                font-size: 18px;
                font-weight: bold;
            }

            li:not(:first-child){
                @extend %hand;
                padding-bottom: 8px;
                border-bottom: 1px solid map-get($bg_color, gray);

                // 手指效果
                @include hoverHandler {
                    color: map-get($txt_color, darkgray);
                }
            }
        }
    }
    
    // .content__txt
    &__txt{
        line-height: 24px;
        @at-root .--half .content__txt{
            width: calc(75% - 64px);

            @include mw_sm{
                width: 100%;
            }
        }
        li{
            margin-bottom: 24px;
        }
        // .content__txt__title
        &__title {
            color: map-get($txt_color, darkgray);
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px!important;
        }

        .inside {
            line-height: 20px;
            padding: 16px 32px 0;
            font-size: 14px;

            li {
                list-style: disc;
                margin-bottom: 8px;
            }
        }
    }
}



// 聯絡我們
.contact{
    @include d_f(flex, 0, 0);
    flex-wrap: wrap;
    background: map-get($bg_color, white);

    // .contact__img
    &__img{
        @include d_f(flex, center, center);
        width: 50%;
        background: url(../images/img_contact.jpg) no-repeat center / cover;

        @include mw_lg{
            width: 40%;
        }

        @include mw_xs {
            display: none;
        }

        &__address{

            li{
                @include d_f(flex, center, 0);
                line-height: 32px;
                color: map-get($bg_color, gray);
                font-size: 20px;
                margin-bottom: 8px;

                &:first-child{
                    position: relative;
                    padding: 24px 0;
                    border-bottom: 1px solid map-get($bg_color, blue);
                    color: map-get($bg_color, white);
                    font-size: 32px;
                    font-weight: bold;
                    justify-content: center;
                    margin-bottom: 24px;

                    &::before{
                        @include pos_a(tbl, 0);
                        content: '';
                        width: 40px;
                        height: 40px;
                        background: url(../images/icon_address.svg) no-repeat;
                        margin: auto;
                    }

                }
            }

            i{
                width: 15px;
                height: 15px;
                margin-right: 8px;
            }
        }
    }
    // .contact__info
    &__info{
        width: 50%;
        padding: 32px 64px;
        background: map-get($bg_color, lightgray);

        @include mw_lg {
            width: 60%;
            padding: 32px;
        }

        @include mw_xs {
            width: 100%;
        }

        h3{
            padding: 0 0 32px;
            color: map-get($txt_color, darkgray);
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }

        // .contact__info__form
        &__form{
            @include d_f(flex, 0, 0);
            flex-wrap: wrap;

            li{
                width: 100%;
                margin-bottom: 16px;
            }
        }

        // .contact__info_btn
        &_btn{
            display: block;
            width: calc(100% / 4);
            min-width: 150px;
            height: 40px;
            background: map-get($bg_color, blue);
            border: 1px solid map-get($bg_color, blue);
            border-radius: 40px;
            color: map-get($txt_color, white);
            text-transform: uppercase;
            margin-left: auto;

            @include mw_xs{
                width: 100%;
            }

            // 手指效果
            @include hoverHandler {
                filter: brightness(1.1);
            }
        }
    }
    // .contact__map
    &__map{
        width: 100%;
        height: 300px;
    }
}