header{
    @include d_f(flex, center, 0);
    height: 64px;
    padding: 8px 64px;
    background: map-get($bg_color, secondary);

    // head固定
    &.--fix{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 3px 3px 15px map-get($bg_color, black_alpha);
    }

    h1{
        @extend %hand;
        height: 100%;
        width: 150px;
        background: url(../images/img_logo.png) no-repeat center / contain;
        color: transparent;

        // 手指效果
        @include hoverHandler {
            filter: brightness(1.2);
        }
    }

    .menu{
        @include d_f(flex, 0, 0);
        margin-left: auto;
        color: map-get($txt_color, white);

        >li{
            @extend %hand;
            margin-left: 32px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;

            // 多內層按鈕
            &.--more{
                position: relative;

                &::after {
                    content: '+';            
                    margin-left: 8px;
                }
            }

            &:last-child,
            &.--on,
            &.--active{
                color: map-get($txt_color, blue);
            }
            // 手指效果
            @include hoverHandler {
                color: map-get($txt_color, blue);
            }
        }

        // 內層選單
        ul{
            @include pos_a(tl, calc(100% + 16px), 0);
            @include d_f(flex, center, 0);
            @include border(1px 0 0, map-get($border_color, primary));
            flex-direction: column;
            padding: 8px 16px;
            background: map-get($bg_color, secondary);
            box-shadow: 5px 5px 10px map-get($bg_color, black_alpha);
            color: map-get($txt_color, white);
            font-size: 14px;
            text-align: center;

            li{
                white-space: nowrap;
                padding: 8px 0;

                &.--on {
                    @extend %no_hand;
                    position: relative;
                    color: map-get($txt_color, blue);

                    &::before{
                        @include pos_a(trb, 0, calc(100% + 8px), 0);
                        content: '';
                        width: 5px;
                        height: 5px;
                        background: map-get($txt_color, blue);
                        border-radius: 5px;
                        margin: auto;
                    }
                }

                // 手指效果
                @include hoverHandler {
                    color: map-get($txt_color, blue);
                }
            }
        }
    }
}



main{
    @at-root header.--fix+main{
        padding-top: 56px;
    }
}



// footer
.mailBox{
    padding: 56px 16px;
    
    // .mailBox__label
    &__label{
        @include d_f(flex, 0 ,center);
        max-width: 480px;
        margin: auto;

        &::before{
            content: '';
            flex: none;
            width: 150px;
            height: 45px;
            background: url(../images/img_logo.png) no-repeat left center / contain;
            filter: grayscale(1) brightness(3);
        }

        input{
            flex: 1 1 100%;
            padding: 0 16px;
            background: map-get($bg_color, white);
            margin-left: 16px;
        }
    }


    // mailBox__label_btn
    &__label_btn {
        position: relative;
        flex: none;
        width: 80px;
        background: map-get($bg_color, blue);
        color: map-get($txt_color, white);

        &::before {
            @include triangle(15px, map-get($bg_color, white), right);
            @include pos_a(trbl, 0);
            content: '';
            margin: auto;
        }

        // 手指效果
        @include hoverHandler {
            filter: brightness(1.1);
        }
    }
}

.webMap{
    @include d_f(flex, 0, center);
    padding: 56px 16px;

    ul {
        @include d_f(flex, flex-start, 0);//為了讓動畫不要超過
        flex-direction: column;
        position: relative;
        max-width: 400px;
        padding: 0 56px 0 120px;
        color: map-get($txt_color, secondary);

        &::before{
            @include pos_a(tl,0, 56px);
            content: '';
            width: 40px;
            height: 40px;
        }

        &+ul{
            border-left: 1px solid map-get($bg_color, lightgray);
        }

        li{
            @extend %hand;
            position: relative;
            line-height: 24px;

            &+li{
                margin-bottom: 8px;
            }

            &:first-child {
                color: map-get($txt_color, primary);
                font-size: 24px;
                margin-bottom: 16px;
            }

            @at-root ul:not(.webMap__address) li:not(:first-child)::after{
                @extend %transition;
                @include pos_a(bl, 0);
                content: '';
                width: 0;
                height: 1px;
                background: map-get($bg_color, lightgray);
            }

            // 手指效果
            @include hoverHandler {
                &::after{                        
                    width: 100%;
                }

                filter: brightness(2);
            }
        }

        i{
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }
    }

    // .webMap__links
    &__links::before{
        background: url(../images/icon_links.svg) no-repeat center / contain;
    }

    // .webMap__services
    &__services::before{
        background: url(../images/icon_services.svg) no-repeat center / contain;
    }

    // .webMap__address
    &__address::before{
        background: url(../images/icon_address.svg) no-repeat center / contain;
    }
}

.copyright{
    padding: 20px 32px;
    background: map-get($bg_color, secondary);
    font-size: 14px;
    text-align: center;
}