header{
    @include d_f(flex, center, 0);
    height: 64px;
    padding: 8px 32px;
    background: map-get($bg_color, secondary);

    // head固定
    &.--fix{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 3px 3px 15px map-get($bg_color, black_alpha);
    }

    h1{
        @extend %hand;
        height: 100%;
        width: 150px;
        background: url(../images/img_logo.png) no-repeat center / contain;
        color: transparent;

        // 手指效果
        @include hoverHandler {
            filter: brightness(1.2);
        }
    }

    .menu{
        @include d_f(flex, 0, 0);
        margin-left: auto;
        color: map-get($txt_color, white);

        >li{
            @extend %hand;
            margin-left: 32px;
            font-weight: 700;

            // 多內層按鈕
            &.--more{
                position: relative;

                &::after {
                    content: '+';            
                    margin-left: 8px;
                }
            }

            &:last-child,
            &.--on,
            &.--active{
                color: map-get($txt_color, blue);
            }
            // 手指效果
            @include hoverHandler {
                color: map-get($txt_color, blue);
            }
        }

        // 內層選單
        ul{
            @include pos_a(tl, calc(100% + 16px), 0);
            @include d_f(flex, center, 0);
            @include border(1px 0 0, map-get($border_color, primary));
            flex-direction: column;
            padding: 8px 16px;
            background: map-get($bg_color, secondary);
            box-shadow: 5px 5px 10px map-get($bg_color, black_alpha);
            color: map-get($txt_color, white);
            font-size: 14px;
            text-align: center;

            li{
                white-space: nowrap;
                padding: 8px 0;

                &.--on {
                    position: relative;
                    color: map-get($txt_color, blue);

                    &::before{
                        @include pos_a(trb, 0, calc(100% + 8px), 0);
                        content: '';
                        width: 5px;
                        height: 5px;
                        background: map-get($txt_color, blue);
                        border-radius: 5px;
                        margin: auto;
                    }
                }

                // 手指效果
                @include hoverHandler {
                    color: map-get($txt_color, blue);
                }
            }
        }
    }
}



main{
    // height: calc();
    @at-root header.--fix+main{
        padding-top: 56px;
    }
}



footer{


    .webMap{
        @include d_f(flex, 0, center);
        padding: 56px 16px;

        ul {
            position: relative;
            max-width: 360px;
            padding: 0 64px 0 94px;
            color: map-get($txt_color, secondary);

            &::before{
                @include pos_a(tl,0);
                content: '';
                width: 30px;
                height: 30px;

            }

            &+ul{
                border-left: 1px solid map-get($bg_color, lightgray);
            }

            li{
                &:first-child {
                    color: map-get($txt_color, primary);
                    font-family: 'Raleway', sans-serif;
                    font-size: 24px;
                    margin-bottom: 16px;
                }
            }

            i{
                width: 15px;
                height: 15px;
                margin-right: 8px;
            }
        }

        // .webMap__links
        &__links{

        }
    }

    .copyright{
        padding: 20px 32px;
        background: map-get($bg_color, secondary);
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        text-align: center;
    }
}