
// 動畫
.active_item {
    @extend %transition;
    opacity: 0;
    visibility: collapse;
    transform-origin: center top;
    z-index: 2;
}

.--active {
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}


.radio_style{
    @include radio(12px, map-get($bg_color, lightbrown));
}

.checkbox_style{
    @include checktick(15px, 2px, 2px, map-get($bg_color , brown));
}

.show_sm {
    @include mw_md {
        display: none;
    }

    @include mw_sm {
        display: block;
    }
}
