
// 動畫
.active_item {
    @extend %transition;
    opacity: 0;
    visibility: collapse;
    transform-origin: center top;
    z-index: 2;
}

.--active {
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}

.show_sm {
    @include mw_md {
        display: none;
    }

    @include mw_sm {
        display: block;
    }
}
