// 字體顏色
$txt_color: (
    primary: #EBEBEB,
    secondary: #999,
    blue: #08C1F2,
    white: #fff,
    gray: #666,
    black: #000,
    shadow: hsla(354, 29%, 7%, 0.5),
);
// 背景色
$bg_color: (
    primary: #141D38,
    secondary: #050E29,
    white: #fff,
    black: #000,
    blue: #08C1F2,
    gray: #EBEBEB,
    lightgray: #999,
    darkgray: #666,
    black_alpha: rgba(5, 14, 41, 0.8),
);

// 裝飾線色
$border_color: (
    primary: linear-gradient(to right, transparent 0%, #37c6ff 20%, #63faff 60%, #37c6ff 80%, transparent 100%) 1,
    secondary: linear-gradient(to right, #f2d77a 10%, #ffffc5 30%, #f2d77a 60%, rgba(242, 216, 122, 0) 100%) 1,
);

// 顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}
